<% if @self_user.present? %>
  <span class="muted">You are commenting as</span> <strong class="muted"><%= @self_user.full_name %></strong> <i class="icon-question-sign muted"></i>
<% else %>
  <span class="muted">You are making an</span> <strong>anonymous</strong> <span class="muted">comment</span> <i class="icon-question-sign muted"></i>
<% end %>