<form id="skillz_comment_form" action="#" class="">
  <div class="row-fluid">
    <label for="skillz_comment">Comment</label>
    <textarea id="skillz_comment" name="comment" rows="1" class="offset2 span8" placeholder="Add a comment..."></textarea>
    <span class="span2 hidden-phone"></span>
  </div>
  <div class="actions row-fluid">
    <div class="offset2 span3">
      <button type="submit" class="btn btn-primary">Add</button>
      <button type="cancel" class="btn btn-link">Cancel</button>
    </div>
    <span class="message span5 small hidden-phone text-right"><%= render partial: "skills/comment_message" %></span>
    <span class="message span5 small visible-phone stacked"><%= render partial: "skills/comment_message" %></span>
    <span class="span2 hidden-phone"></span>
  </div>
</form>
