<div class="skills_toggle btn-group">
  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" title="Tools">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="skills_expand" title="Expand all skills in the list">Expand All</a>
      <a class="skills_collapse" title="Collapse and show only top-level skills">Collapse All</a>
  </ul>
</div>
