<div class="skills_toggle btn-group pull-left">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" title="Tools">
    <i class="icon-cog"></i> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="skills_expand" title="Expand all skills in the list"><i class="icon-plus"></i> <span>Expand All</span></a>
      <a class="skills_collapse" title="Collapse and show only top-level skills"><i class="icon-minus"></i> <span>Collapse All</span></a>
  </ul>
</div>
