<ul class="nav nav-pills nav-stacked affix hidden-phone faq">
  <li>
    <a href="#who">Who</a>
  </li>
  <li>
    <a href="#what">What</a>
  </li>
  <li>
    <a href="#where">Where</a>
  </li>
  <li>
    <a href="#when">When</a>
  </li>
  <li>
    <a href="#why">Why</a>
  </li>
  <li>
    <a href="#how">How</a>
  </li>
</ul>

<ul class="nav nav-pills visible-phone faq">
  <li>
    <a href="#who">Who</a>
  </li>
  <li>
    <a href="#what">What</a>
  </li>
  <li>
    <a href="#where">Where</a>
  </li>
  <li>
    <a href="#when">When</a>
  </li>
  <li>
    <a href="#why">Why</a>
  </li>
  <li>
    <a href="#how">How</a>
  </li>
</ul>