<div class="row-fluid">
  <ul class="pager">
    <li class="previous disabled">
      <a href="#">&larr; Previous</a>
    </li>
    <li class="next">
      <a href="javascript: window.setSkillCategory('app_development');">Next &rarr;</a>
    </li>
  </ul>
</div>