<h4 <%= "id=\"#{question_answer[:section]}\" name=\"#{question_answer[:section]}\"".html_safe if question_answer[:section].present? %> class="question"><%= question_answer[:question] %></h4>
<p class="answer"><%= question_answer[:answer] %></p>
<hr>