<form action="#" class="skills_search">
  <label for="skills_search_value">Search</label>
  <input id="skills_search_value" type="text" name="s" class="input-medium search-query" placeholder="Enter a skill...">
</form>
