<p class="lead">Con and Bill asked me to lead an effort to understand the learning opportunities of our software section.</p>
<p>The skills you are about to see represent the cutting edge of software affoicionado.</p>
<ul>
    <li>No right answers</li>
    <li>No need to respond to every skill</li>
    <li>Add as little or as much information as you want, no right amount</li>
    <li>Results are open to all, no log in, no accounts. These are skills not secrets.</li>
    <li>Share and share alike</li>
</ul>
<p>Participation is completely optional, between you and your boss. Results however, are public.</p>
