<p class="lead">Management wanted to optimize learning synergies within our awesome software section. This survey of skills is a salute to our collective knowledge and passion.</p>
<p>The skills listed on this site represent the cutting edge for developing fantastic software. Some things to keep in mind when considering these skills and dimensions:</p>
<ul>
    <li>No right answers. All skills are useful.</li>
    <li>No need to respond to every skill. Only answer if you have something to say.</li>
    <li>No right amount. Add as little or as much information as you want.</li>
    <li>No need to save. Save buttons are obsolete.</li>
    <li>No device limitations. Phone, tablet, web. It's responsive.</li>
    <li>No secrets. Results are open to everyone in the section, no individual log in, no accounts. Skills are not secrets.</li>
    <li>No pressure. Participation is completely optional, between you and your boss.</li>
</ul>
