<table class="table table-striped table-hover">
  <tbody>
    <% skills = [
      {label: "HTML", description: "Hypertext Markup Language", skill_label: "Beginner", skill_class: "success", status_class: "warning", status_label: "Used to Know"},
      {label: "CSS", description: "Cascading Style Sheets", skill_label: "Skill Level", skill_class: "default", status_class: "default", status_label: "Status"},
      {label: "Javascript", description: "Scripting language", skill_label: "Expert", skill_class: "inverse", status_class: "info", status_label: "Learning Now"}
    ] %>
    <%= render partial: "skills/row", collection: skills %>
  </tbody>
</table>

