<div class="row">
  <div class="span12 filter_container">
    <div class="row">
      <div class="filter_section span4"></div>
      <div class="filter_section span4"></div>
      <div class="filter_section span4"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12 content_container"></div>
</div>

<p class="mode visible-desktop">Desktop</p>
<p class="mode visible-tablet">Tablet</p>
<p class="mode visible-phone">Phone</p>