// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$indent: 10px;

.skill_depth_1 {
  h4 {
    margin-left: $indent;
  }
}

.skill_depth_2 {
  h4 {
    margin-left: 2 * $indent;
  }
}

.skill_depth_3 {
  h4 {
    margin-left: 3 * $indent;
  }
}

.btn .icon-exclamation-sign {
  display: none;
  margin-right: 2px;
}

.skills_table {
  margin-bottom: 80px;
  i {
    opacity: 0.1;
    visibility: hidden;
    &:hover {
      opacity: 0.2;
    }
  }
  .parent {
    i {
      visibility: visible;
    }
  }
  i.icon-plus {
    display: none;
  }
  i.icon-minus, i.icon-plus {
    margin-right: 5px;
    cursor: pointer;
  }
}

.got_skillz {
  margin-top: 40px;
  margin-bottom: 20px;
}

.nav {
  #skillz_person_form {
    display: none;
    margin-bottom: 0;
    #skillz_person {
      margin-top: 5px;
    }

    label[for=skillz_person] {
      display: none;
    }
  }
  &.edit {
    .person, .change {
      display: none;
    }
    #skillz_person_form {
      display: list-item;
    }
  }
}
