// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$indent: 10px;

.skill_depth_1 {
  h4 {
    margin-left: $indent;
  }
}

.skill_depth_2 {
  h4 {
    margin-left: 2 * $indent;
  }
}

.skill_depth_3 {
  h4 {
    margin-left: 3 * $indent;
  }
}

.btn .icon-exclamation-sign {
  display: none;
  margin-right: 2px;
}

.skills_table {
  margin-bottom: 80px;
}